body.home-page {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    background-image: url('/img/astronau.gif');
    background-size: cover;
    background-position: left center;  /* Fondo hacia la izquierda */
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* manda el contenido a la derecha */
    align-items: center;       /* centra verticalmente */
}

/* Caja de contenido */
.data {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    max-width: 600px;
    padding: 30px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 600px; /* mueve la caja a la derecha */
}

/* Animaci贸n */
h1 {
    animation: move-text 3s infinite ease-in-out;
}

@keyframes move-text {
    50% { transform: translateY(-20px); }
}

/* Bot贸n */
.btn-contac {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: .5s;
}

.btn-contac:hover {
    background-color: white;
    color: black;
}

/*  En pantallas peque帽as SIN GIF, fondo azul */
@media (max-width: 768px) {
    body, html {
        background-image: none;
        background-color: rgb(6, 6, 59);
        justify-content: center; /* en m贸vil, texto centrado */
        text-align: center;
    }
    .data {
        font-size: 16px;
        padding: 15px;
        margin: 0;
    }
    .btn-contac {
        width: 100%;
    }
}

.profile-page {

    background-color: rgb(7, 7, 48);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    margin: 0;
    
}

.perfil {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
}
/* Estilo para la secci贸n de habilidades */
.skills {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6; 
}

/* Estilo para la lista de habilidades */
.listaflex {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}